input[type=checkbox] + label.checkbox#labzya {
  border: 3px solid #6d3b45;
}
input[type=checkbox] + label.checkbox#labzoe {
  border: 3px solid #562122;
}
input[type=checkbox] + label.checkbox#labjeizy {
  border: 3px solid #a11113;
}
input[type=checkbox] + label.checkbox#lablara {
  border: 3px solid #466c13;
}
input[type=checkbox] + label.checkbox#lablana {
  border: 3px solid #642769;
}
input[type=checkbox] + label.checkbox#lablea {
  border: 3px solid #b29632;
}
input[type=checkbox] + label.checkbox#lablily {
  border: 3px solid #884b25;
}
input[type=checkbox] + label.checkbox#labjessy {
  border: 3px solid #10879c;
}
